@import url(../global/variabels.css);

body {
    position: relative;
}

.bg {
    background-color: var(--primary-gray);
    height: 398px;
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 66%);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 66px 16px;
    font: var(--regular);
    color: var(--white);
    height: 270px;
}

.header__subtitle {
    font-size: 2rem;
}

.header__title {
    font: var(--bold);
    font-size: 4rem;
    margin: -0.7rem 0 0.9rem 0;
    line-height: 4.9rem;
}

.header__paragraph {
    font-size: 1.4rem;
    margin: 0 0 5.6rem 0;
}



.nav__list {
    display: flex;
    gap: 2.1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.btn {
    background-color: var(--white);
    padding: 1.2rem 3.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    border: 1px solid var(--primary-gray);
    border-radius: 0.5rem;
}

.nav__link {
    text-align: center;
    font: var(--regular);
    font-size: 1.4rem;
    color: var(--secundary-gray);
}

.algorithim {
    padding: 19px 16px;
}

.algorithim__title {
    font: var(--regular);
    font-size: 2.0rem;
    color: var(--secundary-gray);
    background: url(../../images/backgrounds/chevron-up-solid.svg) no-repeat right;
    margin-bottom: 1.7rem;
}

.algorithim__paragraph {
    font: var(--regular);
    font-size: 1.2rem;
    color: var(--secundary-gray);
    margin-bottom: 3rem;
}

.algorithim form {
    display: flex;
    flex-direction: column;
}

.algorithim form label, .shared label{
    display: flex;
    flex-direction: column;
    font: var(--regular);
    color: var(--secundary-gray);
    font-size: 1.2rem;
}

.algorithim form input[type="text"], .algorithim form input[type="email"], fieldset, .shared input[type="text"], .shared input[type="email"] {
    margin-bottom: 2rem;
}

.algorithim form input[type="text"], .algorithim form input[type="email"], .shared input[type="text"], .shared input[type="email"] {
    margin-top: 0.7rem;
    height: 3rem;
    border: 1px solid var(--primary-gray);
    outline: none;
    padding: 0.2rem 0.7rem;
    line-height: 3rem;
    font: var(--regular);
    font-size: 1.6rem;
    color: var(--primary-gray);
    overflow: hidden;
}

fieldset {
    display: flex;
    align-items: center;
}

fieldset span {
    display: flex;
    align-items: center;    
}

fieldset span:first-child {
    margin-right: 4rem;
}

fieldset span label {
    margin-left: 0.5rem;
}

.algorithim input[type="submit"] {
    padding: 1.1rem;
    font: var(--regular);
    color: var(--secundary-gray);
    font-size: 1.6rem;
    background-color: var(--white);
    border-radius: 0.4rem;
    border: 1px solid var(--primary-gray);
}
.your-selection {
    padding: 19px 16px;
}

.your-selection__title {
    font: var(--bold);
    font-size: 1.8rem;
    display: flex;
    color: var(--primary-gray);
    align-items: center;
    justify-content: space-around;
}

.linebreack {
    display: inline-block;
    width: 20vw;
}

.iten__area {
    margin-bottom: 3.8rem;
}

.iten__card {
    display: flex;
    gap: 2.3rem;
    margin-top: 3rem;
}

.iten__area:first-child{
    margin-top: 2.3rem;
}

.iten__image {
    width: 169px;
    height: 129px;
}

.iten__title {
    font: var(--regular);
    color: var(--secundary-gray);
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
}

.iten__descrition {
    font: var(--regular);
    color: var(--secundary-gray);
    font-size: 1.4rem;
    display: none;
}

.iten__previous {
    font: var(--regular);
    color: var(--secundary-gray);
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

.iten__price {
    font: var(--bold);
    color: var(--secundary-gray);
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
}

.iten__quota {
    font: var(--regular);
    color: var(--secundary-gray);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.iten__btn {
    padding: 0.6rem 6.8rem;
    font-size: 1.6rem;
    width: 20rem;
}

.more-itens, .shared__btn {
    padding: 1.1rem 0;
    width: 26rem;
    font: var(--regular);
    font-size: 1.6rem;
    color: var(--primary-gray);
    margin: 0 auto 12.9rem;
}

.shared {
    padding: 19px 16px;
}

.shared__title {
    font: var(--bold);
    font-size: 1.8rem;
    display: flex;
    color: var(--primary-gray);
    align-items: center;
    justify-content: space-around;
}

.shared__paragraph {
    margin: 2.8rem 0;
    font: var(--regular);
    font-size: 1.4rem;
    color: var(--primary-gray);
    text-align: center;
}

.shared__btn {
    margin: 4.2rem auto 8.5rem;
}

footer {
    background-color: var(--secundary-gray);
    height: 127px;
    clip-path: polygon(0 33.33%, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 3.6rem 0;
}
    
    .footer__paragraph {
        margin: 0;
        padding: 0;
        margin-bottom: 0.2rem;
        font: var(--regular);
        font-size: 1.2rem;
        color: var(--white);
}
    
    footer :first-child {
        margin-top: 4rem;
}